In [17]:
import numpy as np
import pandas as pd

In [18]:
sales = pd.read_csv('retail_sales_10000.csv')
print(sales.head(10))

store = pd.read_csv('stores_50.csv')
print(store.head(10))

                  date  transaction_id  store_id product_category  units_sold  \
0  2023-10-30 22:00:00               1      1025         Clothing           6
1  2023-02-05 20:00:00               2      1031      Electronics           4
2  2023-08-13 14:00:00               3      1049         Clothing          13
3  2023-08-05 07:00:00               4      1041         Clothing           8
4  2023-08-27 22:00:00               5      1017        Furniture          11
5  2023-09-19 01:00:00               6      1047        Groceries          19
6  2023-01-20 10:00:00               7      1030      Electronics           5
7  2023-07-04 10:00:00               8      1039      Electronics           5
8  2023-08-21 10:00:00               9      1031      Electronics           3
9  2023-12-13 18:00:00              10      1019        Furniture           2

   unit_price  cost_per_unit
0      722.09        1307.01
1     1614.59        1264.71
2      980.56         487.95
3     1813.98         269.39
4     1171.52         587.09
5     1860.72         453.96
6     1966.09        1427.65
7      935.09         420.90
8     1152.06         296.37
9     1678.10        1352.23
   store_id  store_name       city region  store_size_sqft opening_date
0      1001  Store_1001  Hyderabad  South             4796   2019-10-18
1      1002  Store_1002    Kolkata  South             3767   2017-03-15
2      1003  Store_1003  Bangalore  South             4820   2020-11-16
3      1004  Store_1004    Kolkata  North             1337   2022-06-24
4      1005  Store_1005    Kolkata  South             1878   2020-03-10
5      1006  Store_1006     Mumbai  North             2076   2022-08-05
6      1007  Store_1007  Bangalore  South             1791   2019-04-20
7      1008  Store_1008  Bangalore   West             4993   2017-08-18
8      1009  Store_1009  Bangalore   West             3264   2022-04-14
9      1010  Store_1010    Kolkata   East             1763   2019-01-25

MERGING BOTH DATASET

In [19]:
merged = pd.merge(sales, store, on="store_id", how="left")
merged.head()

,date,transaction_id,store_id,product_category,units_sold,unit_price,cost_per_unit,store_name,city,region,store_size_sqft,opening_date
0,2023-10-30 22:00:00,1,1025,Clothing,6,722.09,1307.01,Store_1025,Pune,South,3695,2022-08-22
1,2023-02-05 20:00:00,2,1031,Electronics,4,1614.59,1264.71,Store_1031,Bangalore,North,1391,2021-12-07
2,2023-08-13 14:00:00,3,1049,Clothing,13,980.56,487.95,Store_1049,Delhi,South,1502,2017-03-06
3,2023-08-05 07:00:00,4,1041,Clothing,8,1813.98,269.39,Store_1041,Delhi,East,4099,2023-08-24
4,2023-08-27 22:00:00,5,1017,Furniture,11,1171.52,587.09,Store_1017,Pune,East,4884,2022-10-13

CREATING NEW COLUMNS USING BOTH THE DATASET
1: Total Revenue
2: Total cost 
3: Total Profit

In [20]:
merged['revenue']= merged['units_sold']* merged['unit_price']
merged['cost']= merged['units_sold']*merged['cost_per_unit']
merged['profit']= merged['revenue']-merged['cost']

print(merged.head(5))

                  date  transaction_id  store_id product_category  units_sold  \
0  2023-10-30 22:00:00               1      1025         Clothing           6
1  2023-02-05 20:00:00               2      1031      Electronics           4
2  2023-08-13 14:00:00               3      1049         Clothing          13
3  2023-08-05 07:00:00               4      1041         Clothing           8
4  2023-08-27 22:00:00               5      1017        Furniture          11

   unit_price  cost_per_unit  store_name       city region  store_size_sqft  \
0      722.09        1307.01  Store_1025       Pune  South             3695
1     1614.59        1264.71  Store_1031  Bangalore  North             1391
2      980.56         487.95  Store_1049      Delhi  South             1502
3     1813.98         269.39  Store_1041      Delhi   East             4099
4     1171.52         587.09  Store_1017       Pune   East             4884

  opening_date   revenue     cost    profit
0   2022-08-22   4332.54  7842.06  -3509.52
1   2021-12-07   6458.36  5058.84   1399.52
2   2017-03-06  12747.28  6343.35   6403.93
3   2023-08-24  14511.84  2155.12  12356.72
4   2022-10-13  12886.72  6457.99   6428.73

In [21]:
merged.to_csv('merged_data.csv',index=False)