In [17]:
import numpy as np
import pandas as pd

In [27]:
sales = pd.read_csv('retail_sales_10000.csv')
store = pd.read_csv('stores_50.csv')
merged = pd.read_csv('merged_data.csv')

TOTAL REVENUE BY REGION

In [28]:
print(merged.head(5))

                  date  transaction_id  store_id product_category  units_sold  \
0  2023-10-30 22:00:00               1      1025         Clothing           6
1  2023-02-05 20:00:00               2      1031      Electronics           4
2  2023-08-13 14:00:00               3      1049         Clothing          13
3  2023-08-05 07:00:00               4      1041         Clothing           8
4  2023-08-27 22:00:00               5      1017        Furniture          11

   unit_price  cost_per_unit  store_name       city region  store_size_sqft  \
0      722.09        1307.01  Store_1025       Pune  South             3695
1     1614.59        1264.71  Store_1031  Bangalore  North             1391
2      980.56         487.95  Store_1049      Delhi  South             1502
3     1813.98         269.39  Store_1041      Delhi   East             4099
4     1171.52         587.09  Store_1017       Pune   East             4884

  opening_date   revenue     cost    profit
0   2022-08-22   4332.54  7842.06  -3509.52
1   2021-12-07   6458.36  5058.84   1399.52
2   2017-03-06  12747.28  6343.35   6403.93
3   2023-08-24  14511.84  2155.12  12356.72
4   2022-10-13  12886.72  6457.99   6428.73

TOTAL REVENUE ,TOTAL COST & TOTAL REVENUE BY REGION

In [33]:
Total_Revenue = merged['revenue'].sum()
print("Total Revenue: ",Total_Revenue)

Total_cost = merged['cost'].sum()
print("Total cost: ",Total_cost)

revenue_by_region = merged.groupby('region')['revenue'].sum()
print("Revenue by Region: ", revenue_by_region)

Total Revenue:  103306021.35
Total cost:  76697609.69
Revenue by Region:  region
East     15838801.13
North    13252670.56
South    42803216.52
West     31411333.14
Name: revenue, dtype: float64

TOTAL PROFIT & TOTAL PROFIT BY REGION

In [38]:

print("Total_profit: ",merged['profit'].sum())

print("TOTAL PROFIT BY REGION: ", merged.groupby('region')['profit'].sum().sort_values(ascending=False))

Total_profit:  26608411.659999996
TOTAL PROFIT BY REGION:  region
South    11222966.59
West      7817835.44
East      4067780.17
North     3499829.46
Name: profit, dtype: float64

TOP STORED

In [47]:
top_stores = merged.groupby('store_id')['revenue'].sum()

top_stores = top_stores.sort_values(ascending=False)

print("Top 5 Stores by Revenue: \n", top_stores.head(5))

Top 5 Stores by Revenue:
 store_id
1015    2624334.21
1044    2540781.97
1014    2486276.97
1048    2402825.67
1017    2395556.52
Name: revenue, dtype: float64

CATEGORY WISE TOTAL UNIT SOLD

In [50]:
unit_by_category = merged.groupby('product_category')['units_sold'].sum()
print(unit_by_category)

product_category
Clothing       19729
Electronics    19975
Furniture      20921
Groceries      19635
Sports         20380
Name: units_sold, dtype: int64

MONTHLY REVENUE TREND

In [57]:
merged['date'] = pd.to_datetime(merged['date'])
merged['month'] = merged['date'].dt.to_period('M')  
monthly_revenue = merged.groupby('month')['revenue'].sum().reset_index()
monthly_revenue = monthly_revenue.sort_values('month')
print(monthly_revenue)
print("\nHIGHEST REVENUE MONTH: \n",monthly_revenue.max())

      month     revenue
0   2023-01  7910832.10
1   2023-02  7196483.87
2   2023-03  7209142.11
3   2023-04  7357452.72
4   2023-05  7694151.28
5   2023-06  8210394.80
6   2023-07  7722165.27
7   2023-08  7201510.50
8   2023-09  7338434.02
9   2023-10  7633719.69
10  2023-11  7483466.96
11  2023-12  7234550.15
12  2024-01  7907171.93
13  2024-02  5206545.95

HIGHEST REVENUE MONTH:
 month        2024-02
revenue    8210394.8
dtype: object

In [ ]:

monthly_trend = merged.groupby('month')[['revenue', 'profit']].sum().reset_index()
print(monthly_trend)

      month     revenue      profit
0   2023-01  7910832.10  2270635.92
1   2023-02  7196483.87  1812660.94
2   2023-03  7209142.11  1580390.51
3   2023-04  7357452.72  1804997.23
4   2023-05  7694151.28  1920576.66
5   2023-06  8210394.80  2334334.62
6   2023-07  7722165.27  1944684.12
7   2023-08  7201510.50  1715384.52
8   2023-09  7338434.02  1965799.68
9   2023-10  7633719.69  1952837.48
10  2023-11  7483466.96  2003211.03
11  2023-12  7234550.15  1901174.13
12  2024-01  7907171.93  1849178.03
13  2024-02  5206545.95  1552546.79