CREATTING THE PRIMARY DATABASE

In [18]:
import pandas as pd
import numpy as np

np.random.seed(42)
dates = pd.date_range(start="2023-01-01", periods=10000, freq="H")
data = pd.DataFrame({
    "date": np.random.choice(dates, 10000),
    "transaction_id": np.arange(1, 10001),
    "store_id": np.random.randint(1001, 1051, size=10000),
    "product_category": np.random.choice(["Electronics","Clothing","Groceries","Furniture","Sports"], 10000),
    "units_sold": np.random.randint(1, 20, 10000),
    "unit_price": np.random.uniform(50, 2000, 10000).round(2),
    "cost_per_unit": np.random.uniform(30, 1500, 10000).round(2)
})
data.to_csv("retail_sales_10000.csv", index=False)
print("retail_sales_10000.csv saved successfully")

retail_sales_10000.csv saved successfully

C:\Users\rohis\AppData\Local\Temp\ipykernel_5132\2504939999.py:5: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  dates = pd.date_range(start="2023-01-01", periods=10000, freq="H")

CREATING SECONDRY(STORE) DATASET

In [19]:
import pandas as pd
import numpy as np

np.random.seed(42)
store_ids = np.arange(1001, 1051)
store = pd.DataFrame({
    "store_id": store_ids,
    "store_name": [f"Store_{i}" for i in store_ids],
    "city": np.random.choice(["Delhi","Mumbai","Bangalore","Hyderabad","Kolkata","Pune"], 50),
    "region": np.random.choice(["North","South","East","West"], 50),
    "store_size_sqft": np.random.randint(1000, 5000, 50),
    "opening_date": pd.to_datetime(np.random.choice(pd.date_range("2015-01-01","2023-12-31"), 50))
})
store.to_csv("stores_50.csv", index=False)
print("✅ stores_50.csv saved successfully")

✅ stores_50.csv saved successfully

FETCHING DATA

In [20]:
sales = pd.read_csv('retail_sales_10000.csv')
print(sales.head(10))

store = pd.read_csv('stores_50.csv')
print(store.head(10))

                  date  transaction_id  store_id product_category  units_sold  \
0  2023-10-30 22:00:00               1      1025         Clothing           6
1  2023-02-05 20:00:00               2      1031      Electronics           4
2  2023-08-13 14:00:00               3      1049         Clothing          13
3  2023-08-05 07:00:00               4      1041         Clothing           8
4  2023-08-27 22:00:00               5      1017        Furniture          11
5  2023-09-19 01:00:00               6      1047        Groceries          19
6  2023-01-20 10:00:00               7      1030      Electronics           5
7  2023-07-04 10:00:00               8      1039      Electronics           5
8  2023-08-21 10:00:00               9      1031      Electronics           3
9  2023-12-13 18:00:00              10      1019        Furniture           2

   unit_price  cost_per_unit
0      722.09        1307.01
1     1614.59        1264.71
2      980.56         487.95
3     1813.98         269.39
4     1171.52         587.09
5     1860.72         453.96
6     1966.09        1427.65
7      935.09         420.90
8     1152.06         296.37
9     1678.10        1352.23
   store_id  store_name       city region  store_size_sqft opening_date
0      1001  Store_1001  Hyderabad  South             4796   2019-10-18
1      1002  Store_1002    Kolkata  South             3767   2017-03-15
2      1003  Store_1003  Bangalore  South             4820   2020-11-16
3      1004  Store_1004    Kolkata  North             1337   2022-06-24
4      1005  Store_1005    Kolkata  South             1878   2020-03-10
5      1006  Store_1006     Mumbai  North             2076   2022-08-05
6      1007  Store_1007  Bangalore  South             1791   2019-04-20
7      1008  Store_1008  Bangalore   West             4993   2017-08-18
8      1009  Store_1009  Bangalore   West             3264   2022-04-14
9      1010  Store_1010    Kolkata   East             1763   2019-01-25

CHECKING IF ANY NULL VALUES

In [28]:
print(sales.isnull().sum())

print(store.isnull().sum())

date                0
transaction_id      0
store_id            0
product_category    0
units_sold          0
unit_price          0
cost_per_unit       0
dtype: int64
store_id           0
store_name         0
city               0
region             0
store_size_sqft    0
opening_date       0
dtype: int64

CHECKING DATATYPE OF COLUMNS

In [30]:
print(sales.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   date              10000 non-null  datetime64[ns]
 1   transaction_id    10000 non-null  int64
 2   store_id          10000 non-null  int64
 3   product_category  10000 non-null  object
 4   units_sold        10000 non-null  int64
 5   unit_price        10000 non-null  float64
 6   cost_per_unit     10000 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(3), object(1)
memory usage: 547.0+ KB
None

CHECKING DATATYPE OF STORES DATASET COLUMNS

In [ ]:
print(stores.info())
print(stores.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   store_id         50 non-null     int64
 1   store_name       50 non-null     object
 2   city             50 non-null     object
 3   region           50 non-null     object
 4   store_size_sqft  50 non-null     int32
 5   opening_date     50 non-null     datetime64[ns]
dtypes: datetime64[ns](1), int32(1), int64(1), object(3)
memory usage: 2.3+ KB
None

coverted sales(date) column to datetime

In [24]:
sales['date'] = pd.to_datetime(sales['date'])